{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% load static %}
    {% load pwa %}
    <head>
        {% progressive_web_app_meta %}
        <meta charset="utf-8">
        <title>Redly - site</title>

        <link rel="alternate" type="application/rss+xml" title="Redly - Rede social acadêmica e empresarial" href="https://redly.pythonanywhere.com/sitemap.xml" />
        <meta Name="robots" content="follow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="pt-br">
        <meta name="author" content="Redly">
        <meta itemprop="name" content="Redly">
        <meta property="og:site_name" content="Redly">
        <meta property="og:image" content="/static/imagem/icons/logo1024.png">
        <meta property="og:title" content="Redly">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta property="og:url" content="https://redly.pythonanywhere.com">
        <link rel="canonical" href="https://redly.pythonanywhere.com">
        <meta name="description" content="Redly é uma rede social destinada a todos, tem foco principal a escolas e empresa" async>
        <meta itemprop="description" content="Redly é uma rede social destinada a todos, tem foco principal a escolas e empresa">
        <meta property="og:description" content="Redly é uma rede social destinada a todos, tem foco principal a escolas e empresa">
        <meta itemprop="image" content="/static/imagem/icons/logo1024.png" async>
        <link rel="icon" type="image/png" sizes="192x192" href="/static/imagem/icons/192.png">
        <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="/static/imagem/icons/192.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    </head>
    <body>
        <div class="all">
            <div class="leftDiv l" id="app" ref="left">
                <div class="closeM">
                    <a href="#config"><i class="fa fa-cogs" style="font-size:24px"></i></a>
                    <i class="fa fa-chevron-left" style="font-size:24px" @click="goBack"></i>
                    <img src="/static/imagem/icons/192.png" alt="logo redly" title="imagem de redly"><br>
                    <a href="/final">
                        Sair
                    </a>
                </div>
                <div class="closeM">
                    <i class="fa fa-chevron-right" style="font-size:24px" @click="goBack"></i><br>
                    <a href="#config"><i class="fa fa-cogs" style="font-size:24px"></i></a>
                    <a href="/login"><i class="fa fa-sign-in" style="font-size:24px"></i></a>
                    <a href="/create"><i class="fa fa-plus" style="font-size:24px"></i></a>
                </div>
            </div>
            <div class="topDiv l" ref="top">
                <div class="closeM">
                    <a href="#config"><i class="fa fa-cogs" style="font-size:24px"></i></a>
                    <img src="/static/imagem/icons/192.png" alt="logo redly" title="imagem de redly">
                    <a href="/final">
                        Sair
                    </a>
                </div>
            </div>
            <div class="rigthDiv lm l" ref="right" id="contentApp">
                <div id="config" class="modal">
                    <div class="modal-dialog">
                        <div class="mcc">
                            <header class="xh hh">
                                <a href="#" class="xbt">×</a>
                                <h2>Configuração</h2>
                            </header>
                            <div class="hh">
                                <h2>Escolha a opção de menu: </h2>
                                <select id="menuS" v-model="ssc" @change="chooseM">
                                    <option>Right</option>
                                    <option>Left</option>
                                    <option>Top</option>
                                </select>
                            </div>
                            <hr>
                            <div class="hh">
                                <h2>Escolha um tema: </h2>
                                <select id="theme" v-model="sst" @change="chooseT">
                                    <option value="MlPl">Menu claro pagina clara</option>
                                    <option value="MdPl">Menu escuro pagina clara</option>
                                    <option value="MlPd">Menu claro pagina escura</option>
                                    <option value="MdPd">Menu escuro pagina escura</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {% block content %}
                {% endblock %}
                <button class="add-button">Add to home screen</button>
            </div>
        </div>
        <script src="/static/js/install.js"></script>
        <script type="text/javascript" src="/static/js/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/static/js/node_modules/vue/dist/vue.min.js"></script>
        <script src="/static/js/node_modules/vue-resource/dist/vue-resource.min.js"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>
