{% extends "web/base.html" %}
{% load static %}
{% block content %}
    <form action="" class="col s12" id="formulario" @submit.prevent="sendChat" enctype="multipart/form-data">
        <div class="rowi">
            <textarea placeholder="texto" v-model="chatData.text" cols="40" id="id_text" maxlength="6000" name="text" rows="10" style="resize: none;background:white;color:black"></textarea><br>
            <input type="hidden" id="id_nome" maxlength="40" name="nome" value="{{us}}"><br>
            <input id="id_img" name="img" type="file" ref="file" accept="image/*" @change="fileon($event)"/><br>
            <button class="btn waves-effect waves-light" type="submit">
                Enviar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form><br><br>
    <div class="row" id="conv" @load='hel'>
        {% for msm in allmsm %}
            <div class="msm msm-{{msm.id}}">
                {% if msm.nome == us %}
                    <span @click="del({{msm.id}})" class="smsm" id=" msm-{{msm.id}}">>X<</span>
                    <div class="mymsm">
                {% else %}
                    <div class="another">
                {% endif %}
                    <h4>{{msm.nome}} &nbsp;&nbsp;&nbsp;<span class="h">{{msm.date}}</span> </h4>
                </div>
                {% if msm.img %}
                    <img src="/media/{{msm.img}}" alt="imagem do usuario" title="imagem de redly" width='400' height='300'>
                {% endif %}
                {% if msm.text != 'null'  %}
                <div class="textinho">
                    <p>{{msm.text | linebreaksbr | escape | urlize}}</p>
                </div>
                {% endif %}
            </div>
            <br>
        {% endfor %}

    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/urlize.js-master/urlize.js"></script>
    <script type="text/javascript" src="/static/js/urlize.js-master/urlize_tlds.js"></script>
    <script src="/static/js/chat.js" charset="utf-8"></script>
    <script type="text/javascript">
        initChat("{{ csrf_token }}","{{ us }}","{{ Last }}");
    </script>

{% endblock %}
