{% load compress %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
    {% load pwa %}
    {% load static %}
    <head>
        {% progressive_web_app_meta %}
        <meta charset="utf-8">
        <title>Redly - Login</title>
        <meta Name="robots" content="follow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="pt-br">
        <meta name="author" content="Redly">
        <meta itemprop="name" content="Redly">
        <meta property="og:site_name" content="Redly">
        <meta property="og:image" content="/static/imagem/icons/logo1024.png">
        <meta property="og:title" content="Redly">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta property="og:url" content="https://redly.pythonanywhere.com">
        <link rel="canonical" href="https://redly.pythonanywhere.com/">
        <meta name="description" content="Redly é uma rede social destinada a todos, tem foco principal a escolas e empresa" async>
        <meta itemprop="description" content="Redly é uma rede social destinada a todos, tem foco principal a escolas e empresa">
        <meta property="og:description" content="Redly é uma rede social destinada a todos, tem foco principal a escolas e empresa">
        <meta itemprop="image" content="/static/imagem/icons/logo1024.png" async>
        <link rel="icon" type="image/png" sizes="192x192" href="/static/imagem/icons/192.png">
        <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="/static/imagem/icons/192.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    </head>
    <body>
        <form method="post" class="logNcad">
            {% csrf_token %}
            <header>
                <img src="/static/imagem/icons/logo1024.png" alt="logo" title="imagem de redly">
                <h1>LOGIN</h1>
            </header>
            {{err}}
            {% for field in form %}
                <div class="a">
                    {{field}}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    {{field.label_tag}}
                </div>
            {% endfor %}
            <p>
                <a href="/create">Crie uma conta</a>
                 &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">Esqueci minha senha</a>
            </p>
            <button type="submit" name="button">Login</button>
        </form>
    </body>
</html>
